 *{
box-sizing:border-box;
font-family:Arial;
}


body{

background:#f5e6cf;

color:#111;

margin:0;

}



header{
    .logo{

width:80px;

position:absolute;

right:30px;

top:20px;

}

text-align:center;

padding:40px;

}



h1,h2{

color:#111;

}



button,
.card a{

background:#7a1f3d;

color:white;

padding:12px 25px;

border-radius:10px;

border:none;

text-decoration:none;

}



.cards{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}



.card{

background:white;

padding:25px;

width:250px;

border-radius:15px;

text-align:center;

}



section{

background:white;

margin:20px;

padding:25px;

border-radius:15px;

}



input{

display:block;

width:90%;

padding:12px;

margin:10px auto;

}



.whatsapp{

background:#198754;

color:white;

padding:15px;

border-radius:10px;

}



nav a{

margin:10px;

color:#7a1f3d;

font-weight:bold;

}



@media(max-width:600px){

.cards{

flex-direction:column;

align-items:center;

}

}